<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGlI3cjzVUoxFVh1dWHFY8_k5UQdPOPPU</string>
	<key>GCM_SENDER_ID</key>
	<string>344369674208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mbbe.id.mbbeId</string>
	<key>PROJECT_ID</key>
	<string>mbbe-id</string>
	<key>STORAGE_BUCKET</key>
	<string>mbbe-id.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344369674208:ios:705adb5d3f08d214745d85</string>
	<key>DATABASE_URL</key>
	<string>https://mbbe-id-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>